<form action="/output" method="post">
   <h1>ADD NEW STUDENT</h1>
   Name: <input type="text" name="ten">
   <br><br>
   Age: <input type="number" name="tuoi">
   <br><br>
   Email: <input type="email" name="email">
   <br><br>
   DOB: <input type="date" name="ngaysinh">
   <br><br>
   <input type="submit" value="Add">
</form>