<div class="container bg-light card">
<form class="/check" method="pos">
<h1>System login</h1>
Username: <input type="text" name="username" id="">
<br><br>
Password: <input type="password" name="password" id="">
<br><br>
<input type="submit" value="login">
</form>
</div>